{% extends "base.html" %}
{% block content %}
<h1>Profile</h1>

<div><strong>Name: </strong>OllimusPrime</div>

<h2>Active Suggestions</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Publisher</th>
            <th>Date added</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan pelit tähän -->
        <tr>
            <td><div>Showel Knight</div></td>
            <td>Yacht Club Games</td>
            <td>23.12.2017</td>
            <td>22.1.2018</td>
            <th><a class="btn btn-default btn-sm" href="#">Remove</a></th>
        </tr>
    </tbody>
</table>
{% endblock %}
