{% extends "base.html" %}
{% block content %}
<div class="form-group">
    <form method="post" action="{{base_path}}/suggest">
        <h1>Suggest a Game</h1>
        {% if error %}
            <p style="color: red">{{error}}</p>
        {% endif %}
        <label>Title</label>
        <input class="form-control" name="title" type="text" value="{{title}}"/>
        <label>Publisher </label>
        <input class="form-control" name="publisher" type="text" value="{{publisher}}"/>
        <br>
        <button type="submit" class="btn btn-primary">Suggest</button>
    </form>
</div>
{% endblock %}