{% extends "base.html" %}
{% block content %}
  <h1>Hollow Knight</h1>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Release Date: </strong>11.4.2017</li>
    <li><strong>Publisher: </strong>Team Alice</li>
    <li><strong>Score: </strong>10</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <h2>Summary</h2>
  <p>
    A rather standard metroidvania, with heavy focus on graphical style and storytelling elements. The game plays well and the controls are responsive and easy on both the mouse & keyboard, and on a controller. The game is suitable as both casual play through or as a speedrun game.
  </p>
{% endblock %}