{% extends "base.html" %}
{% block content %}
{% if admin_logged_in %}
<form method="get" action="{{base_path}}/removegame/{{game.id}}" class="destroy-form" data-confirm="Are you sure?">
    <button type="submit" class="btn btn-danger" style="float: right">Remove</button>
</form>
{% endif %}
<div class="form-group">
    <form method="post" action="{{base_path}}/editgame">
        <h1>Edit</h1>
        {% if error %}
            <p style="color: red">{{error}}</p>
        {% endif %}
        <h2>{{game.name}}</h2>
        <label>Title</label>
        <input class="form-control" name="name" type="text" value="{{game.name}}"/>
        <ul>
            <li><label>Release Date </label><input class="form-control" name="date" type="date" value="{{game.publishingdate}}"/></li>
            <li><label>Publisher </label><input class="form-control" name="publisher" type="text" value="{{game.publisher}}" /></li>
        </ul>
        <label>Category</label>
        <select name="category">
            <option>{{game.category}}</option>
            {% for category in categories %}
                <option>{{category.name}}</option>
            {% endfor %}
        </select>
        <h3>Summary</h3>
        <div style="font-style: italic">Length of the summary must be at least 18 characters.</div>
        <textarea class="form-control" rows="5" name="summary">{{game.description}}</textarea>
        <br>
        <input type="hidden" name="id" value="{{game.id}}" />
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{{base_path}}/game/{{game.id}}" class="btn btn-warning">Cancel</a>
    </form>
</div>
{% endblock %}

