{% extends "base.html" %}
{% block content %}
<div class="form-group">
    <form method="post" action="{{base_path}}/listgame">
        <h1>Add a Game</h1>
        <label>Title</label>
        <input class="form-control" name="title" type="text" value="{{suggestion.name}}">
        <ul>
            <li><label>Release Date </label><input class="form-control" name="date" type="date"></li>
            <li><label>Publisher </label><input class="form-control" type="text" name="publisher" value="{{suggestion.publisher}}"></li>
        </ul>
        <h2>Summary</h2>
        <textarea class="form-control" name="summary" rows="5"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% endblock %}