{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Welcome to Platfarmer!</h1>
</div>

<p>
    Platfarmer is a review database for platforming games.
</p>

<p>
    Vast majority of current content is hidden behind login system. There is no way to register an account yet, so here are two test accounts.
</p>

<div><strong>Admin user: </strong>OllimusPrime // 123</div>
<div><strong>Ordinary user: </strong>Ollimus // 321</div>

<p>
    The usernames aren't case sensetive.
</p>
{% endblock %}
